* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-image: url(../imagens/background-photo.jpg);    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
}

header > .logo > a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

header > .logo > a > h2 {
    font-size: 1.8em;
    font-weight: 600;
    color: #fff;
    margin-left: 15px;
}

header > .links > a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 20px;
    padding: .8em;
}

header > .btn-register > button {
    padding: 1em;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 13px;
}

header > .btn-register > .login {
    background-color: transparent;
    color: #fff;
    margin-right: 15px;
}

header > .btn-register > .login:hover {
    transition: .8s;
    background-color: #fff;
    color: #000;
}

header > .btn-register > .log-up:hover {
    transition: .8s;
    background-color: rgba(255, 255, 255, 0.459);
}

main > .home {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main > .home > h1 {
    font-size: 4em;
    font-weight: 900;
    color: #fff;
}

main > .home > p {
    font-size: 2em;
    font-size: bold;
    color: #fff;
    margin: 10px;
}

main > .about {
    height: 100vh;
    margin-top: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

main > .about > .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffffd2;
    border-radius: 15px;
    padding: 5em;
}

main > .about > .about-content > article {
    text-align: center;
    color: #000;
    max-width: 50vw;
    height: 45vh;
    margin-left: 2em; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main > .about > .about-content > article > .about-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

main > .about > .about-content > article > .about-logo > h1 {
    font-size: 3em;
    margin-left: 10px;
}

main > .about > .about-content > article > p {
    font-size: 1.8em;
}

main > .product {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

main > .product > .product-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
    width: 85vw;
    padding: 5em;
    border-radius: 15px;
    background-color: #ffffffd2;
}

main > .product > .product-content > .product-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

main > .product > .product-content > .product-logo > h1 {
    font-size: 2.5em;
    margin-left: 10px;
}


main > .product > .product-content > h2 {
    font-size: 2em;
    text-align: center;
}

main > .product > .product-content > .product-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

main > .contact {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main > .contact > form > .contact-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

main > .contact > form > .contact-logo > h1 {
    font-size: 2em;
    margin-left: 10px;
}

main > .contact > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e6e6e6;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 1em;
    height: 70vh;
    width: 30vw;
}

main > .contact > form > label {
    font-size: 1.5em;
    font-weight: bold;
}

main > .contact > form > input {
    padding: .8em;
    font-size: 1.5em;
    width: 25vw;
    border: 1px solid rgb(18, 197, 241);
}

main > .contact > form > select {
    padding: .7em;
    font-size: 1.5em;
    background-color: rgb(17, 190, 233);
    color: #fff;
    border-radius: 10px;
}

main > .contact > form > textarea {
    width: 27vw;
    height: 10vh;
    font-size: 1.5em;
    padding: .8em;
    border: 1px solid rgb(18, 197, 241);
}

main > .contact > form > button {
    padding: .8em;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: rgb(17, 190, 233);
    color: #fff;
    cursor: pointer;
}