<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savory Bites</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>

    <header>

        <div class="logo">
        
            <a href="#home">
            
                <img src="../static/imagens/logo-savory-bites.png" alt="Logo-Savory-Bites">
                <h2>Savory Bites</h2>
            
            </a>
        
        </div>

        <nav class="links">

            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#product">Product</a>
            <a href="#contact">Contact</a>

        </nav>

        <div class="btn-register">

            <button class="login">Login</button>
            <button class="log-up">Log Up</button>

        </div>

    </header>

    <main>
    
        <section class="home" id="home">

            <h1>Savory Bites</h1>
            
            <p>Welcome to FoodStore: Where flavor meets simplicity.</p>
            

        </section>

        <section class="about" id="about">

            <div class="about-content">
                
                <img src="../static/imagens/photo-about.jpg" alt="Photo About">
                
                <article>
            
                    <div class="about-logo">

                        <img src="../static/imagens/logo-savory-bites.png" alt="Logo Savory Bites">
                    
                        <h1>SavoryBites</h1> 
                    
                    </div>   
            
                    <p>A destination for food lovers, offering a wide variety of high-quality products, convenience, and a modern shopping experience. Designed to bring flavor and simplicity to your daily life, we are here to make every bite unforgettable.</p>
            
                </article>
            
            </div>

        </section>

        <section class="product" id="product">

            <div class="product-content">

                <div class="product-logo">

                    <img src="../static/imagens/logo-savory-bites.png" alt="Logo Savory Bites">
                
                    <h1>SavoryBites</h1> 
                
                </div>  

                <h2>Explore our selection of diverse dishes, carefully crafted to please every taste. From classic options to unique flavors, we have something special for every occasion.</h2>

                <div class="product-box">

                    <img src="../static/imagens/photo-product-01.jpg" width="500px" alt="Photo Products">

                    <img src="../static/imagens/photo-product-02.jpg" width="500px" alt="Photo Products">

                    <img src="../static/imagens/photo-product-03.jpg" width="500px" alt="Photo Products">

                </div>

            </div>

        </section>
    
    </main>

</body>

</html>