<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savory Bites</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>

    <header>

        <div class="logo">
        
            <a href="#home">
            
                <img src="../static/imagens/logo-savory-bites.png" alt="Logo-Savory-Bites">
                <h2>Savory Bites</h2>
            
            </a>
        
        </div>

        <nav class="links">

            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#product">Product</a>
            <a href="#contact">Contact</a>

        </nav>

        <div class="btn-register">

            <button class="login">Login</button>
            <button class="log-up">Log Up</button>

        </div>

    </header>

    <main>
    
        <section class="home" id="home">

            <h1>Savory Bites</h1>
            
            <p>Welcome to FoodStore: Where flavor meets simplicity.</p>
            

        </section>

        <section class="about" id="about">

            <div class="box">

                <img src="../static/imagens/icon-about-us.png" alt="Icon About Us">

                <h2>About-Us</h2>

                <p>Discover FoodStore, a space dedicated to food lovers. Every detail is designed to provide a unique and delightful experience.</p>

            </div>

            <div class="box">

                <img src="../static/imagens/icon-mission.png" alt="Icon Our Mission">

                <h2>Our Mission</h2>

                <p>To bring convenience and flavor to your table, offering products that captivate with quality and simplicity.</p>

            </div>

            <div class="box">

                <img src="../static/imagens/icon-offer.png" alt="Icon We Offer">

                <h2>What We Offer</h2>

                <p>An incredible selection of food, categorized to make your browsing easier. All with a modern and responsive design, accessible on any device.</p>

            </div>

        </section>
    
    </main>

</body>

</html>